
<ion-content>
  <ion-item class="header ion-text-center" style="padding-top:8%">
    <div class="first">
      <ion-img src="assets/header_mercasa.png"
        style="width: 55%;padding-left: 0px !important;margin-left: 0px !important;padding-top: 0px !important;margin-top: 0px !important;"
        class="img_header ion-margin-top ion-padding-top">
      </ion-img>
    </div>
    <div class="second">
      <ion-img src="assets/cart_logo.png" class="img_header ion-margin-top ion-padding-top"
        style="padding-top: 0px;margin-top: 0px;width: 70%;float: right;" (click)="shoppingList()">
      </ion-img>
    </div>

  </ion-item>


  <div style="text-align:center">
    <h3>Referidos</h3>
    <p style="color:#00b050; font-size: 1.5em;">{{referreds}}</p>
  </div>


  <div style="text-align:center">
    <h3>Saldo</h3>
    <p style="color: #ffffff;
    background-color: #00b050;
    width: 60%;
    margin: auto;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;">${{balance.toFixed(2)}}</p>
  </div>



  <table id="commissions" *ngIf="referredCommissions!=0">
    <thead>
      <tr style="justify-content: center; text-align: center;"> 
        <th>#Orden</th>
        <th>Usuario</th>
        <th>Monto</th>
        <th>Fecha</th>

      </tr>
    </thead>
    <tbody style="justify-content: center; text-align: center;">
      <tr *ngFor="let item of referredCommissions" style="justify-content: center; text-align: center;">
        <td> {{(item.order_id!=0)?item.order_id:'N/A'}} </td>
        <th> {{(item.referenciado_id!=0)?item.name:'N/A'}} </th>
        <th> ${{item.commission}} MXN</th>
        <th> {{(item.validity_at)?item.validity_at:'No Expira'}} </th>
      </tr>
    </tbody>
  </table>



  <!-- <div style="text-align:center">
    <h3>Vigencia</h3>
    <p style="color:#00b050;

    font-size: 1.5em;">12/02/23</p>
  </div> -->

</ion-content>


<ion-footer>
</ion-footer>