
  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button (click)="viewOrders()" *ngIf="this.global.esInvitado == false">
        <!-- <img class="custom-bag" style="width: 4.2vh;margin-top: 3%;"/> -->
        <ion-icon color="light" name="basket-outline"></ion-icon>
        <span style="font-size: 1.3vh;font-weight: 480;color: white;">PEDIDOS</span>
        <!-- <ion-icon color="light" name="cart-outline"></ion-icon> -->
      </ion-tab-button>

      <!-- <ion-tab-button (click)="verPerfil()" *ngIf="this.global.esInvitado == false">
        <ion-icon color="light" name="person-outline"></ion-icon>
        <span style="font-size: 1.3vh;font-weight: 480;color: white;">PERFIL</span>
      </ion-tab-button> -->

      
      <ion-tab-button (click)="showRederred()" *ngIf="this.global.esInvitado == false">
        <ion-icon color="light" name="person-outline"></ion-icon>
        <span style="font-size: 1.3vh;font-weight: 480;color: white;">REFERIDOS</span>
      </ion-tab-button>

      <ion-tab-button (click)="openWhatsapp()">
        <ion-icon color="light" name="help-outline"></ion-icon>
        <span style="font-size: 1.3vh;font-weight: 480;color: white;">AYUDA</span>
      </ion-tab-button>

      <ion-tab-button (click)="logout()">
        <ion-icon color="light" name="arrow-back-outline"></ion-icon>
        <span style="font-size: 1.3vh;font-weight: 480;color: white;">SALIR</span>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
