ion-col {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.full{
    width:100% !important;
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.drawer-pull {
    background: #cccccc;
    height: 4px;
    width: 60px;
    border-radius: 2px;
}